*{
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width:100%;
  font-family: sans-serif;
  background-color: #B3B5BB;
}

.home{
  width: 100%;
  display: flex;
  text-align: center;
  height: 700px;
  background-image: url("../styles/StockSnap_TWDEPDVQUR.jpg");
  background-size: cover;
  background-position: top;
}

#title{
  font-size: 8rem;
  color: #114B5F;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 3.5px #5D576B;
  padding-top: 10px;
}

.home h3{
  color: #5D576B;
  line-height: 1.5;
  text-shadow: 1px 1px 2px #FFFAE3;
  font-size: 2rem;
}

.card{
  width: 100%;
  line-height: 2.0;
}
.card a{
  padding:20px;
  margin-left: 10px;
  font-size: 15px;
  color: #5D576B;
}

.card a:visited{
  padding:20px;
  font-size: 15px;
  color: #5D576B;
}

.home a{
  padding:10px;
  font-size: 20px;
  color: #FFFAE3;
  margin-top: 50px;
}

.home a:visited{
  padding:10px;
  font-size: 20px;
  color: #FFFAE3;
  margin-top: 50px;
}

li a{
  color: #FFFAE3;
}

li a:active{
  background-color: #B3B5BB;
}

#git{
  color: #FFFAE3;
  padding: 10px;
  font-size: 26px;
  margin-left: 45%;
}

#git:visited{
  color: #FFFAE3;
  padding: 10px;
  font-size: 26px;
  margin-left: 45%;
}

p{
  text-align: center;
}

h4{
  text-align: center;
}


#titleStyle{
  font-size: 6rem;
  text-align: center;
}

#portfolioCard {
  background-color: #5D576B;
  width: 100%;
  height: 500px;
  color: #B3B5BB;
  margin-top: 10px;
  font-size: 1rem;
}

.portfolio p{
  text-align: left;
  margin-left: 5%;
}

.portfolio h3{
  text-align: center;
  font-size: 15px;
  line-height: 2.0;
  padding-top: 20%;
}

.portfolio h2{
  color: #114B5F;
  margin-left: 5%;
  font-size: 14px;
}

#gif{
  margin-left: 0px;
}

#repoLink{
  font-size: 14px;
  margin-left: 0%;
}

@media screen and ( min-width: 600px ){
    nav a{
        flex-basis: 45%;
    }
    #title{
      font-size: 13rem;
      color: #114B5F;
      font-family: 'Dancing Script', cursive;
      text-shadow: 4px 4px 5px #5D576B;
      padding-top: 10px;
    }
    .home{
      width: 100%;
      display: flex;
      text-align: center;
      height: 900px;
      background-image: url("../styles/StockSnap_TWDEPDVQUR.jpg");
      background-size: cover;
      background-position: top;
      box-shadow:rgba(0, 0, 0, 0.22) -2px 9px 5px 0px;
    }
    .home h3{
      color: #114B5F;
      line-height: 1.5;
      text-shadow: 1px 1px 2px #FFFAE3;
      font-size: 3rem;
    }
    .home a{
      color: #114B5F;
    }

    .home a:visited{
      color: #114B5F;
    }
    .card{
      width: 55%;
    }
    .card a{
      padding:20px;
      margin-left: 10px;
      font-size: 20px;
      color: #5D576B;
    }

    .card a:visited{
      padding:20px;
      font-size: 20px;
      color: #5D576B;
    }

    #titleStyle{
      font-size: 6rem;
      text-align: center;
    }

    #portfolioCard{
      background-color: #5D576B;
      width: 60%;
      height: 600px;
      color: #B3B5BB;
      margin-top: 100px;
      font-size: 2rem;
      margin-left: 10px;
      margin-right: 10px;
    }

    .portfolio{
      display: flex;
      justify-content: center;
    }

    .portfolio p{
      text-align: left;
      margin-left: 5%;
    }

    .portfolio h3{
      text-align: center;
      font-size: 20px;
      padding-top: 20%;
    }

    .portfolio h2{
      color: #114B5F;
      margin-left: 4%;
      font-size: 20px;
    }

    #repoLink{
      font-size: 14px;
    }

}

@media screen and ( min-width: 1200px ){
  #title{
    font-size: 13rem;
    color: #114B5F;
    font-family: 'Dancing Script', cursive;
    text-shadow: 4px 4px 5px #5D576B;
    padding-top: 30px;
  }
  .home{
    width: 100%;
    display: flex;
    text-align: center;
    height: 900px;
    background-image: url("../styles/StockSnap_TWDEPDVQUR.jpg");
    background-size: cover;
    background-position: top;
    box-shadow:rgba(0, 0, 0, 0.22) -2px 9px 5px 0px;
  }
  .home h3{
    color: #114B5F;
    line-height: 1.5;
    text-shadow: 1px 1px 2px #FFFAE3;
    font-size: 3rem;
  }
  .home a{
    color: #114B5F;
  }

  .home a:visited{
    color: #114B5F;
  }
  .card{
    width: 55%;
  }
  .card a{
    padding:20px;
    margin-left: 10px;
    font-size: 20px;
    color: #5D576B;
  }

  .card a:visited{
    padding:20px;
    font-size: 20px;
    color: #5D576B;
  }

  #titleStyle{
    font-size: 6rem;
    text-align: center;
  }

  #portfolioCard{
    background-color: #5D576B;
    width: 60%;
    height: 500px;
    color: #B3B5BB;
    margin-top: 100px;
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .portfolio{
    display: flex;
    justify-content: center;
  }

  .portfolio p{
    text-align: left;
    margin-left: 5%;
  }

  .portfolio h3{
    text-align: center;
    font-size: 20px;
    padding-top: 20%;
  }

  .portfolio h2{
    color: #114B5F;
    margin-left: 5%;
    font-size: 20px;
  }

  #gif{
    margin-left: 2%;
  }


  #repoLink{
    font-size: 14px;
    margin-left: 2%;
  }
}
